* {
  margin: 0;
}

body {
  background-color: rgb(26, 41, 109);
  color: white;
}

nav {
  margin: 2rem 0.25rem 2rem 0px;
  width: 100vw;
}

.logo {
  text-align: center;
  margin: auto;
  width: 100px;
}

ul {
  display: flex;
  justify-content: space-evenly;
  padding: 0;
  min-width: 50%;
}

li {
  list-style-type: none;
  padding-left: 0.5rem;
}

a {
  text-decoration: none;
  color: white;
}
