.navigation {
  min-width: 100%;
  height: 50px;
  background-color: blue;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  margin: 0 12px;
  padding: 0;
}

li {
  list-style-type: none;
  padding-right: 10px;
  color: white;
}

@media only screen and (max-width: 767px) {
  ul {
    display: none;
  }

  li {
    display: none;
  }
}
